<html>
    <head>
        <title>Library</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to the Library</h1>

            <h3>Search  Contacts Details</h3>
    	    <p>You  may search either by Author or Book name</p>
    	    <form  method="post" action="search.php?go"  id="searchform">
                <input  type="text" name="name">
    	        <input  type="submit" name="submit" value="Search">
    	    </form>

            <p><a href='/patron'>Click here</a> if you are a patron of the library.</p>
            <p><a href='/librarian'>Click here</a> for librarian access for books and authors.</p>
        </div>
    </body>
</html>
