<html>
    <head>
        <title>Search Results</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Search Book Result</h1>

            {% if search is not empty %}
                <h1><small>{{ search_book }} is in our library!</small></h1>
                {% for book in search %}
                <ul>
                    <li><a href="/book/{{ book.getId }}">{{ book.getTitle }}</a></li>

                </ul>
                {% endfor %}
            {% else %}
                <h1><small>{{ search_book }} is not available in our library!</small></h1>
            {% endif %}

            <form action="/">
                <button type="submit">Return Home</button>
            </form>
        </div>
    </body>
</html>
